<a href="https://colab.research.google.com/github/leadeeerq/data-science/blob/main/230316_PySpark1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 15.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=5ab387567f431db98f8a631c416bcf0ce5d0153b209e807023330d527f4ae2ce
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [2]:
import pyspark
import pandas as pd

In [3]:
pd.read_csv('/content/drive/MyDrive/Projekty Data Science/PySpark/Test1.csv')

     Name  Age
0    Arek   30
1    Doma   29
2  Maciek   33

## Starting the PySpark session

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [6]:
spark

##Load the dataset

In [7]:
df_pyspark = spark.read.csv('/content/drive/MyDrive/Projekty Data Science/PySpark/Test1.csv')

In [8]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
|  Arek| 30|
|  Doma| 29|
|Maciek| 33|
+------+---+

In [9]:
df_pyspark = spark.read.option('header', 'true').csv('/content/drive/MyDrive/Projekty Data Science/PySpark/Test1.csv')

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.head(3)

[Row(Name='Arek', Age='30'),
 Row(Name='Doma', Age='29'),
 Row(Name='Maciek', Age='33')]

###printSchema() as df.info()

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

##Reading the dataset

In [13]:
df_pyspark = spark.read.option('header', 'true').csv('/content/drive/MyDrive/Projekty Data Science/PySpark/Test1.csv', inferSchema = True)

In [14]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [15]:
df_pyspark = spark.read.csv('/content/drive/MyDrive/Projekty Data Science/PySpark/Test1.csv', header = True, inferSchema = True)
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
|  Arek| 30|
|  Doma| 29|
|Maciek| 33|
+------+---+

##Selecting columns and indexing

In [16]:
df_pyspark.columns

['Name', 'Age']

In [17]:
df_pyspark.head()

Row(Name='Arek', Age=30)

In [18]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [19]:
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
|  Arek|
|  Doma|
|Maciek|
+------+

In [20]:
df_pyspark.select('Name', 'Age')

DataFrame[Name: string, Age: int]

In [21]:
df_pyspark.select(['Name', 'Age'])

DataFrame[Name: string, Age: int]

In [22]:
df_pyspark.select(['Name', 'Age']).show()

+------+---+
|  Name|Age|
+------+---+
|  Arek| 30|
|  Doma| 29|
|Maciek| 33|
+------+---+

In [23]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]

##Describe

In [24]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string]

In [25]:
df_pyspark.describe().show()

+-------+------+------------------+
|summary|  Name|               Age|
+-------+------+------------------+
|  count|     3|                 3|
|   mean|  null|30.666666666666668|
| stddev|  null|2.0816659994661326|
|    min|  Arek|                29|
|    max|Maciek|                33|
+-------+------+------------------+

##Adding columns

In [26]:
df_pyspark = df_pyspark.withColumn('Later', df_pyspark['Age'] + 2)

In [27]:
df_pyspark.show()

+------+---+-----+
|  Name|Age|Later|
+------+---+-----+
|  Arek| 30|   32|
|  Doma| 29|   31|
|Maciek| 33|   35|
+------+---+-----+

##Dropping columns

In [28]:
df_pyspark = df_pyspark.drop('Later')

In [29]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
|  Arek| 30|
|  Doma| 29|
|Maciek| 33|
+------+---+

##Renaming columns

In [30]:
df_pyspark.withColumnRenamed('Name', 'New name').show()

+--------+---+
|New name|Age|
+--------+---+
|    Arek| 30|
|    Doma| 29|
|  Maciek| 33|
+--------+---+

##Dropping columns and rows

In [31]:
df_pyspark = spark.read.csv('/content/drive/MyDrive/Projekty Data Science/PySpark/test2.csv', header = True, inferSchema = True)
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [32]:
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|null|      null| 40000|
|  34|        10| 38000|
|  36|      null|  null|
+----+----------+------+

In [33]:
df_pyspark.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### how = 'any'

In [34]:
df_pyspark.na.drop(how = 'all').show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [35]:
df_pyspark.na.drop(how = 'any').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

###Threshold

In [36]:
df_pyspark.na.drop(how = 'any', thresh = 2).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
+---------+----+----------+------+

###Subset

In [37]:
df_pyspark.na.drop(how = 'any', subset = ['Name']).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
+---------+----+----------+------+

##Filling missing values

In [38]:
df_pyspark.na.fill(0).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh|  0|         0| 40000|
|     null| 34|        10| 38000|
|     null| 36|         0|     0|
+---------+---+----------+------+

###Filling with mean value (Imputer)

In [39]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['age', 'Experience', 'Salary'],
    outputCols = ['{}_imputed'.format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy('mean')

In [40]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         28|                 5|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 5|         25750|
+---------+----+----------+------+-----------+------------------+--------------+

##Filter operations

In [41]:
df_pyspark.filter('Salary <= 20000').show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [42]:
.df_pyspark.filter(df_pyspark['Salary'] <= 20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [43]:
df_pyspark.filter('Salary <= 20000').select(['Name', 'age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [47]:
df_pyspark.filter((df_pyspark['Salary'] <= 20000) & (df_pyspark['Salary'] >= 18000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [54]:
df_pyspark.filter("Salary <= 20000").filter("Salary >= 18000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

###not

In [56]:
df_pyspark.filter(~(df_pyspark['Salary'] <= 20000)).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
+---------+----+----------+------+

##Groupby (+ aggregate function!!!)

In [59]:
df = spark.read.csv('/content/drive/MyDrive/Projekty Data Science/PySpark/test3.csv', header = True, inferSchema = True)

In [60]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [61]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [64]:
df.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [66]:
df.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [70]:
df.groupBy('Departments').agg({'salary': 'mean', 'Name':'count'}).show()

+------------+-----------+-----------+
| Departments|avg(salary)|count(Name)|
+------------+-----------+-----------+
|         IOT|     7500.0|          2|
|    Big Data|     3750.0|          4|
|Data Science|    10750.0|          4|
+------------+-----------+-----------+