<a href="https://colab.research.google.com/github/leadeeerq/data-science/blob/main/%C4%86wiczenia_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline
import pandas as pd

In [ ]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
titles = pd.read_csv('titles.csv', index_col=None)
titles.head()

             title  year
0   Orlando Vargas  2005
1         Niu-Peng  1989
2    Anandabhadram  2005
3   Mahendra Varma  1993
4  Beomdiga shidae  1970

In [ ]:
cast = pd.read_csv('cast.csv', index_col=None)
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

In [ ]:
cast.info()
print("Typ danych w kolumnie 'year': ", cast.year.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3311647 entries, 0 to 3311646
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   title      object
 1   year       int64
 2   name       object
 3   type       object
 4   character  object
 5   n          float64
dtypes: float64(1), int64(1), object(4)
memory usage: 151.6+ MB
Typ danych w kolumnie 'year':  int64

### Ile filmów (rekordów) zawiera DataFrame ``titles``?

In [ ]:
df = pd.read_csv('titles.csv')
df.info()
print(f"Liczba rekordów to: {df.shape[0]}")
print("Liczba rekordów to:", df.shape[0])
print("Liczba rekordów to: {}".format(df.shape[0]))
# df.shape[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214591 entries, 0 to 214590
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   214591 non-null  object
 1   year    214591 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.3+ MB
Liczba rekordów to: 214591
Liczba rekordów to: 214591
Liczba rekordów to: 214591

### Jakie są dwa najwcześniejsze filmy?

In [ ]:
# df = df.sort_values(by=['year'])
# df.head(2)
df = df.sort_values('year').head(2)
print(df)

                                                   title  year
90767                                         Miss Jerry  1894
10994  Reproduction of the Corbett and Fitzsimmons Fight  1897

### Ile filmów wyprodukowano pod tytułem "Hamlet"?

In [ ]:
# print(df['title'].where(df['title'] == "Hamlet"))
# hamlet = df[df['title'] == "Hamlet"]
# hamlet.shape[0]

# len(df[df.title == "Hamlet"])

len(titles[titles.title == "Hamlet"])

19

### Ile jest filmów pod tytułem "North by Northwest"?

In [ ]:
# north = df[df['title'] == "North by Northwest"]
# north.shape[0]

len(titles[titles.title == "North by Northwest"])

1

### Kiedy wyprodukowano pierwszy filmy "Hamlet"?

In [ ]:
hamlet = titles[titles.title == "Hamlet"]
hamlet = hamlet.sort_values('year')

hamlet.head(1)

         title  year
100923  Hamlet  1910

### Wylistuj filmy "Treasure Island" od najwcześniejszego do najnowszego

In [ ]:
# treasure = df.loc[df['title'] == "Treasure Island"]
# treasure = treasure.sort_values(by=['year'])
# print(treasure)

titles[titles.title == "Treasure Island"].sort_values('year')

                  title  year
48904   Treasure Island  1918
108475  Treasure Island  1920
89471   Treasure Island  1934
52435   Treasure Island  1950
118309  Treasure Island  1972
144139  Treasure Island  1973
191845  Treasure Island  1985
50325   Treasure Island  1999

### Ile filmów wyprodukowano w roku 1950?

In [ ]:
# rok1950 = df.year.value_counts()
# type(rok1950)
# print(rok1950[1950])

# Rok1 = df[df["year"] == 1950]
# print(Rok1.shape[0])

len(titles[titles.year == 1950])

1036

### Ile filmów wyprodukowano w roku 1960?

In [ ]:
# subset_df = df[df["A"] < 3]
Rok1 = df[df["year"] == 1960]
print(Rok1.shape[0])

1461

### Ile filmów wyprodukowano w latach 50 tych?

In [ ]:
# Rok2 = df[(df["year"] >= 1950) & (df["year"] < 1960)]
# print(Rok2.shape[0])

# Floor division
len(df[df.year // 10 == 195])

12110

### W jakich latach był produkowany film "Batman"?

In [ ]:
batman = df[df['title'] == "Batman"]
batman = batman.sort_values(by=['year'])
print(batman)

        title  year
56309  Batman  1943
16656  Batman  1989

### Ile ról (cast) było obsadzonych w filmie "Inception"?

In [ ]:
cast.head()
cast_inception = cast[cast['title'] == "Inception"]
print(cast_inception)
print("Liczba ról to: ",len(cast_inception))

             title  year                  name     type  \
85565    Inception  2010  Michael (III) August    actor
130207   Inception  2010          Peter Basham    actor
161273   Inception  2010          Tom Berenger    actor
173593   Inception  2010              Ken Bhan    actor
228660   Inception  2010        Virgile Bramly    actor
...            ...   ...                   ...      ...
2972865  Inception  2010            Ellen Page  actress
3021835  Inception  2010        Nicole Pulliam  actress
3045839  Inception  2010    Lisa (II) Reynolds  actress
3051953  Inception  2010         Talulah Riley  actress
3265183  Inception  2010        Shannon Welles  actress

                     character     n
85565            LAX Passenger   NaN
130207   Fischer's Jet Captain  44.0
161273                Browning   8.0
173593        Mombasan Gambler   NaN
228660          Bridge Sub Con  29.0
...                        ...   ...
2972865                Ariadne   3.0
3021835          Lobby Sub Con  43.0
3045839          Private Nurse  48.0
3051953                 Blonde  25.0
3265183                Old Mal  51.0

[72 rows x 6 columns]
Liczba ról to:  72

### Ile ról w filmie "Inception" NIE nie otrzymało rankingu (kolumna "n")?

In [ ]:
cast_inception_n = cast_inception[cast_inception.n.isnull()]
print("Liczba ról to: ",len(cast_inception_n))

Liczba ról to:  21

### A ile ról w filmie "Inception" otrzymało ocenę rankingu w kolumnie "n"?

In [ ]:
inc = cast[(cast.n >= 1) & (cast.title == "Inception")]
inc = cast[(cast.n.notnull()) & (cast.title == "Inception")]
len(inc)

51

### Wyświetl obsadę filmu "North by Northwest" według liczby ocen od pierwszoplanowych, ignorując role, które nie otrzymały oceny

In [ ]:
cast_north = cast[cast['title'] == "North by Northwest"]
cast_north = cast_north[cast_north['n'].notnull()]
cast_north = cast_north.sort_values(by=['n'], ascending = True)
print(cast_north)

                      title  year                  name     type  \
773496   North by Northwest  1959            Cary Grant    actor
3084579  North by Northwest  1959       Eva Marie Saint  actress
1292652  North by Northwest  1959           James Mason    actor
2776446  North by Northwest  1959   Jessie Royce Landis  actress
315343   North by Northwest  1959        Leo G. Carroll    actor
2685171  North by Northwest  1959  Josephine Hutchinson  actress
1504777  North by Northwest  1959           Philip Ober    actor
1130557  North by Northwest  1959         Martin Landau    actor
2167754  North by Northwest  1959         Adam Williams    actor
1607029  North by Northwest  1959          Edward Platt    actor
590702   North by Northwest  1959     Robert Ellenstein    actor
2033529  North by Northwest  1959          Les Tremayne    actor
411247   North by Northwest  1959       Philip Coolidge    actor
1339004  North by Northwest  1959         Patrick McVey    actor
180985   North by Northwest  1959          Edward Binns    actor
1228229  North by Northwest  1959             Ken Lynch    actor

                           character     n
773496            Roger O. Thornhill   1.0
3084579                  Eve Kendall   2.0
1292652              Phillip Vandamm   3.0
2776446              Clara Thornhill   4.0
315343                 The Professor   5.0
2685171                Mrs. Townsend   6.0
1504777              Lester Townsend   7.0
1130557                      Leonard   8.0
2167754                     Valerian   9.0
1607029              Victor Larrabee  10.0
590702                         Licht  11.0
2033529                   Auctioneer  12.0
411247                     Dr. Cross  13.0
1339004               Sergeant Flamm  14.0
180985                Captain Junket  15.0
1228229  Charley - Chicago Policeman  16.0

### Wyświetl całą obsadę według rankingu dla filmu "Sleuth" z 1972.

In [ ]:
cast_sleuth = cast[(cast['title'] == "Sleuth") & (cast['year'] == 1972)]
# cast_sleuth = cast[(cast['title'] == "Sleuth")]
cast_sleuth = cast_sleuth.sort_values(by=['n'], ascending = True)
print(cast_sleuth)

          title  year                name     type  \
1513570  Sleuth  1972    Laurence Olivier    actor
288502   Sleuth  1972       Michael Caine    actor
330750   Sleuth  1972      Alec Cawthorne    actor
1299944  Sleuth  1972  John (II) Matthews    actor
2406762  Sleuth  1972  Eve (III) Channing  actress
1285278  Sleuth  1972        Teddy Martin    actor

                          character    n
1513570                 Andrew Wyke  1.0
288502                  Milo Tindle  2.0
330750            Inspector Doppler  3.0
1299944  Detective Sergeant Tarrant  4.0
2406762             Marguerite Wyke  5.0
1285278      Police Constable Higgs  6.0

### Wyświetl całą obsadę według liczby ocen filmu "Sleuth" z 2007 r.

In [ ]:
cast_sleuth2 = cast[(cast['title'] == "Sleuth") & (cast['year'] == 2007)]
# cast_sleuth = cast[(cast['title'] == "Sleuth")]
print(cast_sleuth2)

          title  year                 name     type          character    n
228757   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
288503   Sleuth  2007        Michael Caine    actor             Andrew  1.0
330751   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
1147041  Sleuth  2007             Jude Law    actor               Milo  2.0
1602268  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
2406761  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
2958823  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### Ile ról było obsadzonych w niemej wersji Hamleta z 1921 r.?

In [ ]:
# len(cast[cast[(['title'] == "Hamlet") & (['year'] == 1921)])

len(cast[(cast['title'] == "Hamlet") & (cast['year'] == 1921)])

9

### Ile ról było obsadzonych w Hamlecie z 1996 r.?

In [ ]:
len(cast[(cast['title'] == "Hamlet") & (cast['year'] == 1996)])

55

### Ile ról filmu "Hamlet" było obsadzonych w calej historii kina?

In [ ]:
len(cast[cast.character == "Hamlet"])

81

### Ilu aktorów grało rolę "Ophelia"?

In [ ]:
len(cast[(cast.character == "Ophelia") & (cast.type == "actor")])

6

### Ilu aktorów grało rolę "The Dude"?

In [ ]:
len(cast[(cast.character == "The Dude") & (cast.type == "actor")])

16

### Ilu aktorów grało rolę "The Stranger"?

In [ ]:
len(cast[cast.character == "The Stranger"])

192

### Ile ról zagrał w swojej karierze Sidney Poitier?

In [ ]:
len(cast[cast.name == "Sidney Poitier"])

43

### Ile ról zagrała Judi Dench?

### Wylistuj role drugoplanowe (mające n=2) grane przez Cary Grant w latach 40, w porządku według roku.

In [ ]:
# cary = cast[cast.name == "Cary Grant"]
# cary = cast[(cast['name'] == "Cary Grant") & (cast['n'] == 2) & (cast['year'] >= 1940) & (cast['year'] < 1950)].sort_values('year')
cary = cast[(cast['name'] == "Cary Grant") & (cast['n'] == 2) & (cast['year'] // 10 == 194)].sort_values('year')
print(cary)

# Rok2 = df[(df["year"] >= 1950) & (df["year"] < 1960)]

                   title  year        name   type    character    n
773493  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
773503    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### Wylistuj role pierwszoplanowe, które Cary Grant grał w latach 40 według roku.

In [ ]:
cary2 = cast[(cast['name'] == "Cary Grant") & (cast['n'] == 1) & (cast['year'] // 10 == 194)].sort_values('year')
print(cary2)

                                       title  year        name   type  \
773518               The Howards of Virginia  1940  Cary Grant  actor
773475                       His Girl Friday  1940  Cary Grant  actor
773520                The Philadelphia Story  1940  Cary Grant  actor
773508                             Suspicion  1941  Cary Grant  actor
773522                  The Talk of the Town  1942  Cary Grant  actor
773499                 Once Upon a Honeymoon  1942  Cary Grant  actor
773466                     Destination Tokyo  1943  Cary Grant  actor
773491                             Mr. Lucky  1943  Cary Grant  actor
773492                             Mr. Lucky  1943  Cary Grant  actor
773500                      Once Upon a Time  1944  Cary Grant  actor
773458                  Arsenic and Old Lace  1944  Cary Grant  actor
773495             None But the Lonely Heart  1944  Cary Grant  actor
773494                         Night and Day  1946  Cary Grant  actor
773497                             Notorious  1946  Cary Grant  actor
773514      The Bachelor and the Bobby-Soxer  1947  Cary Grant  actor
773515                     The Bishop's Wife  1947  Cary Grant  actor
773490  Mr. Blandings Builds His Dream House  1948  Cary Grant  actor
773470          Every Girl Should Be Married  1948  Cary Grant  actor
773479                I Was a Male War Bride  1949  Cary Grant  actor

                    character    n
773518            Matt Howard  1.0
773475           Walter Burns  1.0
773520     C. K. Dexter Haven  1.0
773508                Johnnie  1.0
773522           Leopold Dilg  1.0
773499  Patrick 'Pat' O'Toole  1.0
773466          Capt. Cassidy  1.0
773491              Joe Adams  1.0
773492        Joe Bascopolous  1.0
773500            Jerry Flynn  1.0
773458      Mortimer Brewster  1.0
773495             Ernie Mott  1.0
773494            Cole Porter  1.0
773497                 Devlin  1.0
773514                   Dick  1.0
773515                 Dudley  1.0
773490          Jim Blandings  1.0
773470      Dr. Madison Brown  1.0
773479    Capt. Henri Rochard  1.0

### Ile ról było dostępnych dla aktorów w latach 50tych?

In [ ]:
len(cast[cast.type == "actor"])

2242942

### Ile ról było dostępnych dla aktorek w latach 50tych?

In [ ]:
len(cast[cast.type == "actress"])

1068705

### Ile ról pierwszoplanowych (n=1) było dostępnych od początku historii filmu do końca roku 1980?

In [ ]:
len(cast[(cast.n == 1) & (cast.year <= 1980)])

61444

### Ile ról niepierwszoplanowych było dostępnych od początku historii kina do końca roku 1980?

In [ ]:
len(cast[(cast.n != 1) & (cast.year <= 1980)])

1047877

### Ile ról do końca 1980 było na tyle słabych, że nie otrzymało oceny "n"?

In [ ]:
asd = cast[(cast.n.isnull()) & (cast.year <= 1980)]
len(asd)

415167

## Koniec cz. 1